/* default */
:root{
    /* color */
    --light-white:#FBF8F1;
    --header-bg-color:#E3B7A0;
    --hover-bg-color:rgba(255,255,255,0.1);
    --hover-border-color:rgba(255,255,255,0.12);
    --light-brown:#886F6F;
    --skills-bg-color:#C1A3A3;
    --skills-box-bg-color:#4D4D4D;
    --tools-box-bg-color:#616161;
    --etc-box-bg-color:#7C7979;
    --gage-color:#FEB546;
    --gage-bar-color:#616161;
    --project-count-bg-color:#EDCDBB;
    --project-hover-bg-color:#BF9270;
    --project-bg-color:#EDCDBB;
    --main-color:#BF9270;
    --testimonial-bg-color:#EEEEEE;
    --testimonial-name-color:#F76E11;
    /* font-weight */
    --font-weight-light:400;
    --font-weight-bold:700;
    --font-weight-heavy:900;
    /* font-size */
    --font-size-title:45px;
    --font-size-subtitle:32px;
    --font-size-description:16px;
    /* animation-duration */
    --animation-duration:300ms;
}
* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    box-sizing: border-box;
}

body{
    margin: 0;
}

p,h3{
    margin: 0;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

/* header */
header{
    position: fixed;
    z-index: 99999;
    top: 0;
    width: 100%;
    padding: 25px 35px;
    color: var(--light-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--header-bg-color);
    box-sizing: border-box;
}

.logo{
    width: 400px;
    height: 350px;
}

.category{
    display: flex;
    font-weight: var(--font-weight-heavy);
}
.category li{
    margin-left: 40px;
    padding: 10px 20px;
    border: 1px solid transparent;
    cursor: pointer;
}
.category li:hover{
    border: 1px solid var(--hover-border-color);
    border-radius: 7px;
    background: var(--hover-bg-color);
}
/* main */
section{
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid var(--header-bg-color);
    padding: 0px 30px;
}

/* main-home */
section:first-child{
    background-image:url('./images/bg.png');
}

section.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

section.home h1{
    font-size: 2.5rem;
    text-align: center;
}
section.home h3{
    font-size: 1.5rem;
}

.profile{
    margin-top: 10rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section.home .contact{
    border: 3px solid black;
    padding: 10px 5px;
    border-radius: 10px;
}
section.home .contact:hover{
    background-color: var(--hover-bg-color);
}

/* main-About */

section.about{
    text-align: center;
}

.stacks{
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}
.stack{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.stack-content{
    color: var(--light-brown);
}
.stack-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--header-bg-color);
}

.stack-icon i{
    font-size: var(--font-size-title);
    color: var(--header-bg-color);
}

.stack-category{
    font-size: var(--font-size-subtitle);
}


.career{
    display: flex;
    align-self: flex-start;
    align-items: center;
    text-align: start;
}
.university{
    width: 45px;
    height: 50px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 15px;
}

.career-content h3{
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-description);
}

.career-content .history{
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-description);
    color: var(--light-brown);
}

/* section-common */
.title{
    margin:0;
    font-size: var(--font-size-title);
    padding-top: 2.5em;
}

.description{
    font-size: var(--font-size-description);
    padding-top: 1em;
    text-align: center;
}

.subtitle{
    font-size: var(--font-size-subtitle);
    padding-top: 1em;
}



section:not(.home){
    padding: 0 80px;
}


/* section-skills */
section.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--skills-bg-color);
}

.skills-container{
    display: flex;
    width: 70%;
    height: 350px;
    background-color: white;
    margin-top: 40px;
    color: var(--light-white);
}
.skills-box{
    width: 60%;
    height: 100%;
    background-color: wheat;
    padding: 0px 30px;
    background-color: var(--skills-box-bg-color);
}


.skills-box-title{
    padding: 30px 0px;
    text-align: center;
    font-weight: var(--font-weight-heavy);
}

.bar{
    width: 100%;
    height: 3px;
    background-color: var(--gage-bar-color);
    border-radius:5px;
    margin-bottom: 20px;
}

.gage{
    width: 90%;
    height: 3px;
    background-color: var(--gage-color);
    border-radius:5px;
}

.another{
    width: 40%;
    height: 100%;
} 
.tools{
    height: 50%;
    background-color: var(--tools-box-bg-color);
    text-align: center;
}

.etc{
    height: 50%;
    background-color: var(--etc-box-bg-color);
    text-align: center;
}

.info{
    display: flex;
    justify-content: space-between;
    color: var(--light-white);
}
/* section-mywork */
section.mywork{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work-categories{
    display: flex;
    margin-top: 40px;
}
.work-category{
    display: flex;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.work-category span,.work-category div{
    cursor: pointer;
}

.work-category:hover{
    background-color: var(--project-hover-bg-color);
}

.count{
    margin-left: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: var(--project-count-bg-color);
    border-radius: 50%;
}

.projects{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.project{
    position: relative;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    width: 270px;
    height: 230px;
    background-color: var(--project-bg-color);
    cursor: pointer;
}
.project:visited{
    color:#4D4D4D;
}

.project-img{
    width: 100%;
    height: 100%;
}

.wrapper-bg{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--light-white); 
    opacity: 0.4; 
}
.wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.wrapper:hover{
    animation: slurp var(--animation-duration) forwards ease-in;
}

@keyframes slurp{
    from{
        opacity: 0;
        transform: translateY(30px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}

.project-description{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: absolute;
}

.project-description p{
    /* color: var(--main-color); */
    color: var(--light-white);
    font-weight: var(--font-weight-bold);
}

.divider{
    width: 50%;
    border: 1px solid black;
}

/* section-testimonials */
section.testimonials{
    text-align: center;
    background-color: var(--testimonial-bg-color);
}

.testimonial{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100px;
    margin-top: 40px;
}

.testimonial:first-of-type .testimonial-profile{
    margin-right: 10px;
}

.testimonial+.testimonial .testimonial-profile{
    order: 1;
    margin-left: 10px;
}

.testimonial-profile{
    width: 100px;
    height: 100%;
    border-radius: 50%;
}

.testimonial-content{
    width: 80%;
    height: 100%;
    text-align: start;
    background-color: var(--light-white);
    padding: 5px;
    border-radius: 10px;
}

.testimonial-content p{
    margin-bottom: 3px;
}

.testimonial-name{
    color: var(--testimonial-name-color);
}


/* footer */
