/* default */
:root{
    /* color */
    --header-font-color:#fff;
    --header-bg-color:#E3B7A0;
    --hover-bg-color:rgba(255,255,255,0.1);
    --hover-border-color:rgba(255,255,255,0.12);
    --light-brown:#886F6F;
    /* font-weight */
    --font-weight-light:400;
    --font-weight-bold:700;
    --font-weight-heavy:900;
    /* font-size */
    --font-size-title:45px;
    --font-size-subtitle:32px;
    --font-size-description:16px;
}
* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    box-sizing: border-box;
    cursor: default;
 }

body{
    margin: 0;
}

ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}

button{
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

/* header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 35px;
    color: var(--header-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--header-bg-color);
    box-sizing: border-box;
}

.logo{
    width: 400px;
    height: 350px;
}

.category{
    display: flex;
    font-weight: var(--font-weight-heavy);
}
.category li{
    margin-left: 40px;
    padding: 10px 20px;
    border: 1px solid transparent;
    cursor: pointer;
}
.category li:hover{
    border: 1px solid var(--hover-border-color);
    border-radius: 7px;
    background: var(--hover-bg-color);
}
/* main */
section{
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid var(--header-bg-color);
    padding: 0px 30px;
}

/* main-home */
section:first-child{
    background-image:url('./images/bg.png');
}

section.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

section.home h1{
    font-size: 2.5rem;
    text-align: center;
}
section.home h3{
    font-size: 1.5rem;
}

.profile{
    margin-top: 10rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section.home .contact{
    border: 3px solid black;
    padding: 10px 5px;
    border-radius: 10px;
}
section.home .contact:hover{
    background-color: var(--hover-bg-color);
}

/* main-About */

section.about{
    text-align: center;
}

.stacks{
    display: flex;
    justify-content: space-between;
    margin: 3em 0;
}
.stack{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}
.stack-content{
    color: var(--light-brown);
}
.stack-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid var(--header-bg-color);
}

.stack-icon i{
    font-size: var(--font-size-title);
    color: var(--header-bg-color);
}

.stack-category{
    font-size: var(--font-size-subtitle);
}


.career{
    display: flex;
    align-self: flex-start;
    align-items: center;
    text-align: start;
}
.university{
    width: 45px;
    height: 50px;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 15px;
}

.career-content h3{
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-description);
}

.career-content .history{
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-description);
    color: var(--light-brown);
}

/* section-common */
.title{
    margin:0;
    font-size: var(--font-size-title);
    padding-top: 2.5em;
}

.description{
    font-size: var(--font-size-description);
    padding-top: 1em;
}

section:not(.home){
    padding: 0 80px;
}



/* footer */
