/* default */
:root{
    /* color */
    --header-font-color:#fff;
    --header-bg-color:#E3B7A0;
    --hover-bg-color:rgba(255,255,255,0.1);
    --hover-border-color:rgba(255,255,255,0.12);
    /* font-weight */
    --font-weight-light:400;
    --font-weight-bold:700;
    --font-weight-heavy:900;
}
* { 
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    box-sizing: border-box;
 }

body{
    margin: 0;
}

ul,li{
    list-style: none;
    margin: 0;
    cursor: pointer;
}

button{
    cursor: pointer;
    outline: none;
    background-color: transparent;
}

/* header */
header{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px 35px;
    color: var(--header-font-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: var(--header-bg-color);
    box-sizing: border-box;
}

.logo{
    width: 400px;
    height: 350px;
}

.category{
    display: flex;
    font-weight: var(--font-weight-heavy);
}
.category li{
    margin-left: 40px;
    padding: 10px 20px;
    border: 1px solid transparent;
}
.category li:hover{
    border: 1px solid var(--hover-border-color);
    border-radius: 7px;
    background: var(--hover-bg-color);
}
/* main */
section{
    width: 100%;
    height: 100vh;
    border-bottom: 2px solid var(--header-bg-color);
}

/* main-home */
section:first-child{
    background-image:url('./images/bg.png');
}

section.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

section.home h1{
    font-size: 2.5rem;
    text-align: center;
}
section.home h3{
    font-size: 1.5rem;
}

.profile{
    margin-top: 10rem;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section.home .contact{
    border: 3px solid black;
    padding: 10px 5px;
    border-radius: 10px;
}
section.home .contact:hover{
    background-color: var(--hover-bg-color);
}

/* footer */
